.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .option {
        padding: 10px 15px;
      }
}